---
layout: default
---

<div class="home">

    
    <div class="home-col-wrapper">

        <div class="home-col home-col-1">
            <h1>THIS IS ME</h1>
            <img src="{{ site.baseurl }}/assets/bowtie.png">
        </div>
        <div class="home-col home-col-2">
        </div>
        <div class="home-col home-col-3">
            <h1 class="page-heading">Posts</h1>

            <ul class="post-list">
                {% for post in site.posts %}
                <li>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                    <h2>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
                    </h2> {{ post.description | escape }}

                </li>
                {% endfor %}
            </ul>

            <h1 class="page-heading">Projects</h1>
            <ul class="post-list">
                {% for project in site.projects %}
                <li>
                    <span class="post-meta">{{ project.date | date: "%b %-d, %Y" }}</span>

                    <h2>
                        <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title | escape }}</a>
                    </h2>
                </li>
                {% endfor %}
            </ul>

            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </div>
    </div>

</div>
