---
layout: default
---

<div class="home">


    <div class="home-col-wrapper">

        <div class="home-col home-col-1">
          <h2>Welcome to DeLand... DeLand Before Time</h2>
            <img src="{{ site.baseurl }}/assets/tiger.jpg">
            Hey there, I'm Kevin. I'm a software engineer and edtech designer with a passion for learning and creating. Also check me out on <a href="https://medium.com/@kevin.deland">Medium.</a>
        </div>
        <div class="home-col home-col-2">
        </div>
        <div class="home-col home-col-3">


            <div class="heading">
                <h1 class="page-heading">Projects</h1>
            </div>

            <ul class="post-list">
                {% for project in site.projects reversed %}
                <li>
                    <span class="post-meta">{{ project.date | date: "%b %-d, %Y" }}</span>

                    <h2>
                        <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title | escape }}</a>
                    </h2> {{ project.description | escape }}
                    <br><br>
                </li>
                {% endfor %}
            </ul>

            <h1 class="page-heading">Blog Posts</h1>

            <ul class="post-list">
                {% for post in site.posts reversed %}
                <li>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                    <h2>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
                    </h2> {{ post.description | escape }}
                    <br><br>

                </li>
                {% endfor %}
            </ul>

            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </div>
    </div>

</div>
